.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#hidden-input {
  position: fixed;
  bottom: 0;
  width: 1px;
  height: 1px;
  color: white;
  border: none;
}

#login-button {
  width: 200px;
  margin: 0 auto;
}