.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#hidden-input {
  position: fixed;
  bottom: 0;
  width: 1px;
  height: 1px;
  color: white;
  border: none;
}

#login-button {
  width: 250px;
  margin: 0 auto;
  color: white;
  background-color: black;
  border-radius: 25px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: medium;
  font-weight: bold;
}

.form-wrapper {
  border: 1px solid black;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

#info {
  font-size: 10px;
}