.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 192px;
  margin: 5px;
}

.input-wrapper {
  display: flex;
  justify-content: start;
}