.App {
  text-align: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
}

li {
  list-style-type: none;
}

.complete {
color: gray;
}

.incomplete {
}